/* IMPORTO I CSS CONDIVISI */
@import url('/common-css/stile.css');

/* ICONE - FONTELLO */
@import url('/common-css/fontello.css');

/* LISTA CON ICONA (ES. CONDIVISIONI) */
.fontello li { position: relative; padding: 5px 0; }
.fontello li:nth-child(even) { border-top: 1px dotted #DDDDDD; border-bottom: 1px dotted #DDDDDD; }
.fontello i { position: absolute; top: 8px; left: 0; font-size: 20px; color: #1A4269; }
.fontello div { margin-left: 30px; }

/* LISTA NEWS, EXTRA e DIR */
li.news, li.extra { min-height: 65px; }
li.extra, li.dir { padding: 5px 0 !important; }
li.news h3, li.news p, li.extra h3, li.extra p { margin-left: 70px; }
li.news img, li.extra img { position: absolute; width: 60px; height: 60px; }

/* ELENCO TEMPLATE */
li.templ { min-height: 105px; }
li.templ h3, li.templ p { margin-left: 160px; }
li.templ img { position: absolute; width: 150px; height: 100px; }

/* ELENCO SOUNDLOOPS */
.sound li { position: relative; line-height: 40px; border-bottom: 1px solid #DDD; }
.sound li:hover { background: #EFEFEF; font-weight: bold; }
span.sound-bt { display: block; position: absolute; top: 7px; width: 26px; height: 26px; line-height: 26px; text-align: center; background-color: #009966; color: #FFF; cursor: pointer; }
span.sound-bt:hover { background-color: #00CC88; }
.sound-play { right: 0; }
.sound-download { right: 40px; }

/* ELENCO "NO SCHEDA" */
ul.no-scheda { margin-top: 20px; }
.no-scheda > li { margin-bottom: 40px; }
.no-scheda div.titrat { position: relative; margin: 0 0 5px 0 !important; }
.no-scheda .titrat > h2 { line-height: 150%; margin-right: 150px; }
.no-scheda .titrat > .postrating { position: absolute; top: 0; right: 0; }
.no-scheda li p, .no-scheda li ul { margin: 0 0 5px 0; }
.no-scheda div.dtlnk { position: relative; line-height: 26px; border: 1px solid #DDD; font-size: 12px; color: #999; background: #EFEFEF; padding-left: 5px; }
.no-scheda .dtlnk span { position: absolute; top: 0; right: 5px; line-height: 26px; }

/* LISTA TOP (COL) */
.top li,
.correlati li { font-size: 12px; padding: 5px 0; }
.top li:nth-child(even),
.correlati li:nth-child(even) { border-top: 1px dotted #DDDDDD; border-bottom: 1px dotted #DDDDDD; }
.top a { font-weight: bold; }
.top span { color: #B3B3B3; }

/* LISTA CON CAT */
.folder li { position: relative; line-height: 34px !important; padding-left: 30px; }
.folder i { position: absolute; top: 0; left: 0; font-size: 20px; color: #1A4269; }

/* INCONTENT ADV */
.incontpre { margin-top: 10px; text-align: center; font-size: 12px; color: #CCCCCC; }
.incontadv, .incontadvul { margin: 5px 0 10px 0; padding: 10px 0; border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: center; }
.incontadvul { border-top: none; margin-bottom: 0; }
  
/* INCONTENT CATEGORIES */
.incat { padding: 15px 0; border-bottom: 1px solid #DDDDDD; }

/* SEZMENU (MENU A DISCESA NELLE VARIE SEZIONI) */
div#sezmenu { position: absolute; top: 0; left: 460px; width: 190px; height: 30px; background: #EEE url(/images/arrdown.png) no-repeat 170px center; border-bottom: 1px solid #DDD; }
#sezmenu h2 { font-size: 18px; line-height: 30px; border: none; margin: 0; padding: 0 0 0 4px; }
#sezmenu h2 a { color: #1A4269; text-decoration: none; }
#sezmenu ul { list-style-type: none; margin: 0; padding: 0; z-index: 99; }
#sezmenu .popnav { position: absolute; top: 30px; left: 0; border-bottom: 1px solid #DDD; background: #EFEFEF; z-index: 9999; }
#sezmenu .popnav a { display: block; padding: 0 4px; line-height: 30px; color: #777; font-family: FrancoisOne, verdana, arial, tahoma, helvetica, sans-serif; font-size: 16px; text-decoration: none; }
#sezmenu .popnav a:hover { color: #336699; text-decoration: underline; } 
 
/* IMMAGINE CON CAPTION */
.copeimg { position: relative; width: 450px; height: 300px; }
.copeimg img { display: block; z-index: 1; }
.copeimg div.caption { position: absolute; bottom: 0px; left: 0px; width: 100%; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; z-index: 2; padding: 7px 0; }
.copeimg .caption a, .copeimg .caption span { display: block; color: #FFFFFF; padding: 0 7px; }
.copeimg .caption a { font-size: 18px; font-weight: bold; }
.copeimg .caption span { font-size: 12px; }
.copeimg .dx { background: #000000; font-weight: bold; top: 0; right: 0; }

/* HOME - H1 e H2 */
.hptit > h1 { margin: 0; font-size: 18px; line-height: 26px; }
.hptit > h2 { margin: 0; font-family: verdana, arial, tahoma; font-size: 14px; line-height: 22px; }

/* HOME - SLIDER CONTENITORE */
div.hpslider { border-top: 1px dotted #DDDDDD; }

/* HOME - BOX */
div.hbox { float: left; width: 210px; margin-right: 10px; height: 110px; }
.hbox a.t { display: block; font-size: 12px; padding-bottom: 5px; border-bottom: 3px solid #DDDDDD; color: #CCCCCC; text-decoration: none; }
.hbox div.c { position: relative; }
.hbox div.h { position: absolute; top: 0; left: 0; right: 0; display: none; z-index: 99; border: 1px solid #DDDDDD; border-top: none; background: #ECF2F8; }
.hbox .c a, .hbox .h span { display: block; color: #336699; padding: 5px 6px 0 6px; font-family: FrancoisOne, verdana, arial, tahoma, helvetica, sans-serif; font-weight: normal; font-size: 18px; text-decoration: none; }
.hbox .h span { padding: 5px 5px 0 5px; cursor: pointer; }
.hbox .h p { margin: 0 5px; font-size: 12px; }
.hbox .h p.parent { color: #B3CAE6; font-weight: bold; margin-bottom: 3px; }
#disqus_new, #disqus_top { overflow: hidden; }

/* HOME - NEWS */
div.prima_news { position: relative; min-height: 60px; margin-bottom: 15px; }
.prima_news img { position: absolute; top: 0; left: 0; width: 60px; height: 60px; }
.prima_news h3, .prima_news p { margin: 0 0 0 70px; }

/* HOME - DOWNLOAD COPERTINA */
.copeimg.copehpdl { float: left; width: 318px !important; height: 213px !important; border: 1px solid #DDD; margin-bottom: 10px; }
.copeimg.prima { margin-right: 10px; }
.copeimg.copehpdl img { display: block; width: 100%; height: 213px; }

/* HOME - DOWNLOAD ULTIMI */
.hpdlultimi { float: left; width: 320px; }

/* SCHEDE (TUTTE) */
.schsx { position: relative; float: left; width: 450px; margin-right: 10px; }
.schdx { float: left; width: 190px; }

/* HOME DIDATTICA (ELENCO SEZIONI) */
.ddhome div { float: left; width: 210px; margin-right: 10px; }
.ddhome div:last-child { margin-right: 0 !important; }
.ddhome span { display: block; font-weight: bold; background: #EFEFEF; border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; padding: 5px 0; }
.ddhome li { padding: 5px 0; }

/* ELENCO DIDATTICA */
span.subsez { background: #999999; color: #FFFFFF; padding: 1px 4px; font-size: 12px; }

/* PARTECIPA */
.partecipa li { display: block; float: left; width: 110px; height: 25px; margin: 0 10px 15px 0; }

/* BOX CON FRECCIA ARANCIO */
.boxfreccia { border: 1px solid #DDDDDD; margin-bottom: 15px; padding: 10px; line-height: 23px; color: #777777; font-size: 12px; }
.boxfreccia span { display: inline-block; float: left; background: url(/images/home_updarrow.png) no-repeat right center; color: #FFFFFF; height: 23px; line-height: 23px; padding: 0 5px; margin: 0 10px 0 0; font-size: 12px; font-weight: bold; padding-right: 15px; }
.boxfreccia a { color: #777777; text-decoration: underline; }

/* HOME e DIDATTICA - BXSLIDER */
ul#slider { margin: 0; padding: 0; }
#slider li { visibility: hidden; }
.ddcope { position: relative; min-height: 122px !important; }
.ddcope img { position: absolute; top: 0; left: 0; width: 120px; height: 120px; border: 1px solid #DDDDDD; z-index: 2; }
.ddcope span { position: absolute; top: 5px; left: 5px; z-index: 3; }
.ddcope h3, .ddcope p { margin-left: 130px; }
.ddcope p { font-size: 12px; }

/* DIDATTICA - HOME SEZIONE */
div.sezcnt { border: 1px solid #DDDDDD; background: #EFEFEF; padding: 10px; }
.sezcnt span, .sezcnt a { float: left; display: block; line-height: 20px; margin-right: 10px; font-size: 12px; }
.sezcnt a { padding: 0 7px; background: #336699; color: #FFFFFF; font-weight: bold; text-decoration: none; }
.sezcnt a:hover { background: #FF6600; }

/* DOWNLOAD - SLIDER */
div#dlslider { margin-bottom: 20px; background: #EFEFEF; border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; }
#dlslider .copeimg { position: relative; width: 450px; height: 300px; float: left; cursor: pointer; }
#dlslider .copeimg img { z-index: 1; }
#dlslider .copeimg div { position: absolute; bottom: 0px; left: 0px; width: 100%; background: rgb(0, 0, 0); background: rgba(0, 0, 0, 0.6); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)"; z-index: 2; }
#dlslider .copeimg span.copetit { display: block; padding: 7px 0 0 7px; color: #FFFFFF; font-size: 18px; font-weight: bold; }
#dlslider .copeimg span.copetxt { display: block; padding: 0 0 7px 7px; color: #FFFFFF; font-size: 12px; }
#dlslider .copeimg div a { font-size: 18px; font-weight: bold; color: #FFFFFF; }
#dlslider .copeitem { width: 200px; height: 300px; float: left; }
#dlslider .copeitem li { border-bottom: 1px solid #FFFFFF; cursor: pointer; }
#dlslider .copeitem li:last-child { height: 60px; border-bottom: none; }
#dlslider .copeitem li.on { background: #336699; }
#dlslider .copeitem li p { height: 59px; display: table-cell; padding: 0 10px; vertical-align: middle; font-size: 12px; font-weight: bold; color: #B3B3B3; }
#dlslider .copeitem li.on p { color: #FFFFFF; }

/* DOWNLOAD - SCHEDA */
.schsx img { display: block; margin-bottom: 15px; }
.schdx span { display: block; margin-bottom: 3px; }
.schdx span.btdl, .schdx span.btdemo { background: #1A4269 url(/images/ico24_dl.png) no-repeat 162px center; padding-left: 4px; letter-spacing: 1px; color: #FFFFFF; cursor: pointer; line-height: 34px; margin-bottom: 10px; }
.schdx span.btdemo { background-image: url(/images/ico24_demo.png); }
.schdx span.btdl:hover { background-color: #008000; }
.schdx span.btdemo:hover { background-color: #CC5200; }
.schdx div { margin-bottom: 10px; }
.segnala-err { background: url(/images/ico16_alert.png) no-repeat left center; height: 30px; font-size: 12px; padding-left: 20px; border-top: 1px dotted #DDD; }
.segnala-err span { color: #B3B3B3; cursor: pointer; line-height: 30px; }

/* TAGS */
div.tags { margin: 10px 0 20px 0 !important; }
.tags a, .tags span { display: inline-block; float: left; height: 23px; line-height: 23px; padding: 0 5px; margin: 0 10px 5px 0; font-size: 12px; }
.tags span { background: url(/images/home_updarrow.png) no-repeat right center; color: #FFFFFF; font-weight: bold; padding-right: 15px; }
.tags a { background: #ECF2F8; color: #999; text-decoration: none; }
.tags a:hover { color: #474747; }

/* TAGS CLOUD */
.tagscloud { text-align: center; line-height: 1.4; margin: 10px 0 15px 0; }
.tagscloud a { text-decoration: none; margin-left: 5px; }
.tagscloud a.size9 { font-size: 26px; }
.tagscloud a.size8 { font-size: 24px; }
.tagscloud a.size7 { font-size: 22px; }
.tagscloud a.size6 { font-size: 20px; }
.tagscloud a.size5 { font-size: 18px; }
.tagscloud a.size4 { font-size: 16px; }
.tagscloud a.size3 { font-size: 14px; }
.tagscloud a.size2 { font-size: 12px; }
.tagscloud a.size1 { font-size: 10px; }
.tagscloud a.size0 { font-size: 8px; }

/* DISQUS */
div#disqus_thread { margin-top: 15px; }

/* TABELLE NEL TESTO DELL'ARTICOLO */
#main table { display: inline-block; margin-bottom: 10px; }

/* PRE / ESEMPIO */
#main pre, #main div.esempio { width: 650px; overflow: auto; background-color: #FFFFCC; border-top: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; font-family: 'courier new', courier, monospace; font-size: 14px; line-height: 24px; color: #474747;}

/* PREV e NEXT (MUOVERSI TRA I CONTENUTI) */
.prev, .next { width: 250px; min-height: 40px; margin-top: 15px; }
.prev { float: left; background: url(/images/freccia-sx.gif) no-repeat; padding-left: 30px; }
.next { float: right; background: url(/images/freccia-dx.gif) no-repeat top right; padding-right: 30px; text-align: right; }

/* BOTTONE APERTURA POPUP */
span.btpop { display: block; width: 240px; padding: 6px 0; margin: 15px auto; text-align: center; background: #1A4269; color: #FFFFFF; cursor: pointer; }
span.btpop:hover { background: #336699; }

/* PAGINA DEGLI RSS */
.link_rss { line-height: 30px; background: #EEEEEE url(/images/ico24_rss.png) no-repeat 3px 3px; border: 1px solid #DDDDDD; margin-bottom: 15px; }
.link_rss a { display: block; padding-left: 32px; color: #777777; font-weight: bold; font-size: 16px; }

/* RICERCA */
#search a.tit { font-size: 16px; text-decoration: underline; }
#search p.small { margin: 2px 0; }
#search p.preview { margin: 0; padding: 0; color: #8C8C8C; font-size: 12px; }
#search li { margin-bottom: 25px; }
#search .tabline { position: relative; height: 27px; border-bottom: 1px solid #DDD; margin-bottom: 15px; }
#search .tab { position: absolute; top: 0; left: 0; width: 208px; line-height: 26px; text-align: center; border: 1px solid #DDD; background: #EFEFEF; }
#search .sel { background: #FFF; border-bottom-color: #FFF !important; }
#search .tab a { color: #CCC; }
#search .tab a:hover { text-decoration: none; }
#search .sel a { color: #999 !important; }

/* SONDAGGIO */
#sondaggio .tit a { font-size: 16px; }
#sondaggio .risp { position: relative; margin-top: 7px; }
#sondaggio .risp input { position: absolute; top: 3px; left: 0; }
#sondaggio .risp span { position: relative; margin-left: 20px; }
#sondaggio .vota, #sondaggio .votanobox { position: relative; margin-top: 10px; }
#sondaggio .votanobox { background: #EFEFEF; padding: 10px; border-top: 1px solid #DDD; border-bottom: 1px solid #DDD; }
#sondaggio .vota input, #sondaggio .votanobox input { padding: 0 20px; line-height: 20px; border: none; background: #336699; color: #FFFFFF; font-weight: bold; cursor: pointer; }
#sondaggio .vota input:hover, #sondaggio .votanobox input:hover { background: #FF6600; }
#sondaggio .vota a, #sondaggio .votanobox a { position: absolute; top: 0; right: 0; line-height: 20px; font-size: 12px; }
#sondaggio .votanobox a { top: 10px !important; right: 10px !important; }
#sondaggio p { display: block; font-size: 12px; margin: 7px 0 2px 0; }
#sondaggio .bar { height: 14px; background: #336699; }
#sondaggio .barempty { height: 14px; width: 5px; background: #CCC; }

/* POST BAR - CONTENITORE */
div#postbarfix { z-index: 9990; }
div#postbarfix.std { margin-top: -15px; }

/* POST BAR - BARRA */
div#postbar { position: relative; width: 650px; height: 45px; border-bottom: 1px solid #DDD; }
div#postbar.bgbianco { background-color: #FFF; }
#postbar ul { list-style-type: none; margin: 0; padding: 0; }

/* POSTBAR - RATING */
#postbar div.postrating { position: absolute; top: 10px; left: 340px; height: 25px; }

/* POSTBAR - NAV (e TIP) */
ul#postnav { position: absolute; top: 10px; right: 0; }
#postnav li { position: relative; display: block; float: left; height: 25px; width: 25px; margin-left: 10px; }
#postnav span { display: none; width: 150px; padding: 5px; background: #FF6600; color: #FFF; font-size: 12px; line-height: 16px; position: absolute; top: 27px; right: 0; z-index: 999; }
#postnav span i { position: absolute; top: -5px; right: 5px; display: block; width: 0; height: 0; border-left: 7px solid transparent; border-right: 7px solid transparent; border-bottom: 7px solid #FF6600; }
#postnav span.mini { width: auto !important; white-space: nowrap; }

/* POSTBAR - SOCIAL ICONS */
ul#ikisclbtn { position: absolute; top: 10px; left: 0; height: 25px; }
#ikisclbtn li { display: block; height: 25px; width: 75px; float: left; margin-right: 10px; cursor: pointer; }
#ikisclbtn i { display: block; float:left; width: 25px; height: 25px; background: url(/images/social_sprite_25px.png) no-repeat; }
#ikisclbtn i.fb { background-position: 0 0; top: 10px; }
#ikisclbtn i.gp { background-position: -75px 0; top: 40px; }
#ikisclbtn i.ln { background-position: -100px 0; top: 40px; }
#ikisclbtn i.tw { background-position: -200px 0; top: 70px; }
#ikisclbtn span { display: block; float:left; height: 23px; line-height: 23px; width: 49px; background-color: #FFF; border: 1px solid #DDD; border-left: none; text-align: center; font-size: 11px; color: #444; } 

/* SINGOLO POST - META e TAGS */
ul.postmeta { list-style: none; margin: 0; padding: 0; }
.postmeta li { float: left; height: 25px; line-height: 25px; font-size: 12px; margin: 0 5px 10px 0; }
.postmeta li.label { padding: 0 5px; background: #FF6600; color: #FFF; }
.postmeta span, .postmeta time, .postmeta a { display: block; padding: 0 5px; background: #ECF2F8; color: #999; text-decoration: none; }
.postmeta a:hover { background: #FF6600; color: #FFF; }

/* SINGOLO POST - POST */
div#post { z-index: 1; }
div#post.std { padding-top: 15px; }
div#post.barfix { padding-top: 58px; }

/* VIDEO (IFRAME) */
iframe.embed_video { width: 650px; height: 360px; border: 0; margin-bottom: 10px; }

/* TXTBAN */
div#txtban { position: relative; margin: 10px 0 20px; padding-top: 10px; border-top: 1px solid #DDD; cursor: pointer; }
#txtban span { display: block; margin: 0 0 10px 0; padding: 0; font-family: FrancoisOne, verdana, arial, tahoma, helvetica, sans-serif; font-weight: normal; font-size: 20px; color: #336699; }
#txtban img { width: 120px; height: 120px; margin: 0 10px 0 0; float: left; }
#txtban p { font-size: 12px; line-height: 18px; margin: 0; padding: 0; }

/* SCHEDE DOWNLOAD e SCRIPT */
span.dwl-bt { position: relative; display: block; line-height: 40px; padding: 0 5px; background-color: #009966; color: #FFF; cursor: pointer; }
span.dwl-bt:hover { background-color: #00CC88; }
.dwl-bt i { position: absolute; line-height: 20px; top: 10px; right: 5px; }
.dwl-ul > li { margin-bottom: 10px; }
.dwl-ul .os { height: 20px; }
.dwl-ul .os li { width: 16px; height: 16px; margin: 2px 3px 0 0 !important; }

/* SCHEDE DOWNLOAD e SCRIPT - SEGNALA ERRORE */
span.dwl-err { position: absolute; bottom: 0; right: 0; width: 26px; height: 26px; line-height: 26px; text-align: center; background: #E3E3E3; border-top: 1px solid #DDD; border-left: 1px solid #DDD; color: #BFBFBF; cursor: pointer; overflow: hidden; }
.dwl-err i { position: absolute; bottom: 0; right: 0; display: block; width: 26px; height: 26px; }
.dwl-err span { visibility: hidden; }
.dwl-err:hover { width: 188px; background-color: #CC3300; color: #FFF; }
.dwl-err:hover span { visibility: visible; font-size: 12px; }

/* SCHEDE DOWNLOAD e SCRIPT - SCHEDA CON IMG */
.dwl1 img.sx { float: left; display: block; width: 450px; height: 300px; margin: 0 10px 10px 0; }
.dwl1 div.dx { position: relative; float: left; width: 188px; height: 298px; border: 1px solid #DDD; background-color: #EFEFEF; margin-bottom: 10px; }
.dwl1 .dx .dwl-ul { margin: 10px 10px 0 10px; }
.dwl1 .dx .dwl-bt { border-bottom: 1px solid #FFF; }

/* SCHEDE DOWNLOAD e SCRIPT - SCHEDA SENZA IMG */
.dwl2 { position: relative; padding: 10px 0 0 10px; border: 1px solid #DDD; background-color: #EFEFEF; margin-bottom: 10px; }
.dwl2 .dwl-col { float: left; width: 155px; margin-right: 10px; }
.dwl2 .dwl-ul { float: left; width: 471px; margin: 0 !important; }
.dwl2 .dwl-ul > li { float: left; width: 147px; margin-right: 10px; line-height: 20px; }
.dwl2 .act-demo { margin: 5px 0 10px 0; }
.dwl2 .dwl-err:hover { width: 158px; }

/* RIBBON */
.ribbon-wrapper {
  width: 90px;
  height: 90px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
}

.ddcope .ribbon-wrapper {
  right: auto;
  left: 31px;
}

.ribbon {
  font: bold 10px Sans-Serif;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 130px;
  background-color: #FF6600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF6600), to(#FF8D41)); 
  background-image: -webkit-linear-gradient(top, #FF6600, #FF8D41); 
  background-image:    -moz-linear-gradient(top, #FF6600, #FF8D41); 
  background-image:     -ms-linear-gradient(top, #FF6600, #FF8D41); 
  background-image:      -o-linear-gradient(top, #FF6600, #FF8D41); 
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}